/* IMPORTAÇÃO DE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
                

/* ABERTURA DE FORMATAÇÃO DO CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #1e1e1e;
    color: white;
}


/* MENU */
    #cabecalho{
        display: flex;
        height: 12vh;
    }

    .container-cabecalho{
        align-items: center;
        margin: auto;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 1290px;
        padding: 0 6%;
    }

    .subnav{
        display: flex;
        margin: 0 8%;
        gap: 200px;
    }

    .links-ancora{
        font-family: Inter;
        font-family: 1.75rem;
        text-decoration: none;
        color: white;
    }

    .line-1{
        max-width: 1700px;
        margin: auto;
        border: 1px solid white;
    }
/* SECTION DE APRESENTAÇÃO */
    .section-one{
        max-width: 1290px;
        margin: 5% auto;
        display: flex;
        justify-content: space-between;
    }

    .container-principal{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 50%;
    }

    .titulo-principal{
        font-size: 2.5rem;
        font-family: 'SF Pro Display', sans-serif;
        font-weight: bold;
    }

    .texto-ancora{
        font-size: 1.25rem;
        font-family: Inter;
        font-weight: 400;
        text-align: justify;
    }

    .btn-contato{
        background-image: url(../images/github-logo.png);
        background-repeat: no-repeat;
        background-position: 15% center;
        background-color: #D4F11E;
        color: black;
        border: none;
        border-radius: 6px;
        width: 40%;
        height: 8vh;
    }

    .btn-contato p{
        color: #1e1e1e;
        font-family: 'SF Pro Display',sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        padding-left: 15%;
    }

    .principal-img{
        border-radius: 5px;
        width: 30%;
    }

    /* ABERTURA DA MAIN */
    #container-apresentacao{
        margin: 5% auto;
        display: flex;
        flex-direction: column;
        gap: 80px;
        max-width: 1290px;
    }

    /* FORMATAÇÃO SECTION ESPECIALIDADES */
    .titulo-exposicao{
        font-family: 'SF Pro Display',sans-serif;
        font-size: 2.25rem;
        font-weight: bold;
        max-width: 1290px;
        margin: auto;
    }

    .section-especialidades{
        height: 60vh;
        display: flex;
        margin: auto;
        gap: 40px;
    }

    .box-especialidades{
        background-color: #D9D9D9;
        border-radius: 5px;
        width: 35%;
        text-align: center;
        padding: 1%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-decoration: none;
        color: #1e1e1e;
    }

    .espec-img{
        width: 50%;
        margin: 0 auto;
    }

    .box-titulo{
        font-family: 'SF Pro Display', sans-serif;
        font-size: 1.75rem;
        font-weight: 600;
    }

    .texto-espec{
        font-family: Inter;
        font-size: 1rem;
        text-align: justify;
    }

    /* ABERTURA DA SECTION DA BIOGRAFIA */
    .section-biografia{
        display: flex;
        gap: 100px;
    }

    .img-dev{
        width: 30%;
        border-radius: 60%;
    }

    .info-biografia{
        padding: 3%;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .titulo-biografia{
        font-family: 'SF Display Pro', sans-serif;
        font-size: 2.25rem;
        font-weight: bold;
    }

    .texto-biografia{
        font-family: Inter;
        font-size: 1.25rem;
        text-align: justify;
    }

    .redes-ancora{
        display: flex;
        gap: 100px;
        margin: auto;
    }

    .redes-ancora-link{
        display: flex;
        flex-direction: column;
        width: 7vw;
        height: 12vh;
        background-color: #D4F11E;
        text-align: center;
        color: #1e1e1e;
        text-decoration: none;
        border-radius: 4px;
    }

    /* FORMATAÇÃO DA SECTION "MEUS PROJETOS" */
    .section-projetos{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }

    .projects-image{
        width: 50%;
        margin: 0 auto;
        border: 5px solid green;
    }

    .box-projects{
        border-radius: 5px;
        background-color: #D9D9D9;
        width: 32%;
        height: 60vh;
        padding: 1%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        text-decoration: none;
        color: #1e1e1e;
    }

    /* FORMATAÇÃO DO FOOTER */
    .rodape{
        display: flex;
        padding: 5%;
        justify-content: space-between;
        background-color: #575656c5;
    }

    .rodape img{
        width: 10%;
    }

    .rodape p{
        font-family: Inter;
        font-size: 1.25rem;
    }

    /* APLICANDO RESPONSIVIDADE PARA CELULARES */

    @media (max-width:430px){
        /* RESPONSIVIDADE - MENU */
        .container-cabecalho{
            max-width: 330px;
            margin: 0 auto;
            flex-wrap: wrap;
        }

        .container-cabecalho img{
            margin: 0% auto;
            width: 50%;
        }

        .subnav{
            max-width: 330px;
            margin: auto;
            gap: 50px;
        }

        .line-1{
            max-width: 330px;
            margin: 1% auto;
        }

        /* RESPONSIVIDADE SECTION ONE */
        .section-one{
            flex-direction: column;
        }

        .container-principal{
            max-width: 330px;
            margin: auto;
            width: auto;
            text-align: center;
            gap: 20px;
        }

        .principal-img{
            display: none;
        }

        .titulo-principal{
            text-align: left;
            font-size: 2rem;
        }

        .btn-contato{
            width: 70%;
            margin: auto;
        }

        /* RESPONSIVIDADE SECTION TWO */
        #container-apresentacao{
            max-width: 330px;
            gap: 20px;
        }

        .titulo-exposicao{
            margin: 5% auto;
            font-size: 2rem;
        }

        .section-especialidades{
            max-width: 350px;
            margin: auto;
            flex-direction: column;
        }

        .box-especialidades{
            width: auto;
            height: 30vh;
            padding:  5% 5%;
            gap: 5px;
        }
        .espec-img{
            width: 20%;
        }

        .section-biografia{
            flex-direction: column;
            max-width: 350px;
         }

         .img-dev{
            margin: 110% auto -70px auto;
            width: 70%;
         }

         .redes-ancora{
            width: 100%;
            gap: 20px;
         }

         .redes-ancora-link{
            margin: auto;
            width: 40%;
            height: auto;
         }

         /* RESPONSIVIDADE SECTION THREE */
         .section-projetos{
            margin: auto;
            flex-direction: column;
         }
         
         .box-projects{
            padding: 5% 5%;
            width: auto;
            height: 30vh;
            gap: 5px;
         }

         .projects-image{
            width: 30%;
         }

         /* RESPONSIVIDADE RODAPÉ */
         .rodape{
            flex-direction: column;
            gap: 10px;
         }

         .rodape img{
            width: 30%;
            margin: auto;
         }

         .rodape p{
            margin: auto;
            font-size: 1rem;
         }
    }

