       /* Importações de fonte */
       @import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


        /* FORMATAÇÕES GERAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141414;
    color: white;
 
}

        /* FORMATAÇÃO DO MENU */
#cabecalho{
    display: flex;
    height: 10vh;
    width: 100%;
    max-width: 1255px;
    margin: auto;
    align-items: center;
}

.container{
    display: flex;
    gap: 105px;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 1255px;
    padding: 0 6%;
}

.links-ancora{
    text-decoration: none;
    color: white;
    line-height: 33.6px;
    font-size: 1rem;
    font-weight: 400;
    font-family: Inter;
}

    /* FORMATAÇÃO DA PRIMEIRA SECTION */

.section-one{
    display: flex;
    margin: auto;
    margin-top: 4%;
    max-width: 1255px;
    padding: 0 6%;  
    justify-content: space-around;
}


/* formatação dos textos chamativos */
.container-one{
    top: 1%;
    height: 40vh;
    width: 50%;
}

.titulo{
        font-family: calistoga;
        font-weight: 400;
        font-size: 3.75rem;
        line-height: 74px;
}

.emoji-hungry{
    width: 15%;
    rotate: -15deg;
    margin-left: -3%;
    position: relative;
}

.texto-ancora{
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 26px;
    width: 90%;
    margin-top: 5%;
    justify-content: center;
}

.btn-pedido{
    background-color: #FE6A0F;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 8vh;
    margin-top: 10%;
    cursor: pointer;
}

/* texto do botão */
.btn-texto{
    font-family: Inter;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.burguer-img{
    width: 40%;
    margin-top: -2%;
}

/* FORMATAÇÃO DA SEGUNDA SECTION */

.section-two{
    max-width: 1255px;
    height: 35vh;
    padding: 0 6%;
    margin: auto;
    margin-top: -5%;
    background-color: #1f1f1f;
}

h2{
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 5%;
    width: 25%;
}

.section-two-inputs{
    display: flex;
    justify-content: space-between;
}

.inputs{
    background-color: #2b2b2b;
    border: none;
    border-radius: 5px;
    margin-top: 3%; 
    height: 9vh;
    width: 28vw;
    text-align: center;
    color: #979797;
    font-family: Inter;
    font-size: 1.10rem;
}

.lupa{
    background-image: url(../src/IMAGES-BURGER/lupa.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 5%;
}

.lupa::placeholder{
    color: #979797;
}

.categoria{
    cursor: pointer;
    border: 5px solid #2b2b2b00;
}

/* FORMATAÇÃO DO MENU DE HAMBURGUERS - SECTION 3*/

.source-catalog{
    width: 100%;
    max-width: 1255px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin: auto;
    margin-top: 5%;
    justify-content: center;
    padding: 5%;
    height: auto;
    
}


/* PRODUTOS - FORMATAÇÃO */

.products{
    padding-left: 5%;
}

.products-item{
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    gap: 27px;
}

.products_image{
    width: 70%;
}

.promocao{
    text-align: left;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    background-color: #FE6A0F;
    width: 40%;
    margin:5% 10%;
    padding: 4%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: Inter;
}

.products-category{

    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    font-family: Inter;
}

.products-name{
    font-size: 1.75rem;
    font-weight: 400;
    font-family: calistoga;
    color: white;
}

.products-price{
    font-size: 1.75rem;
    font-weight: 700;
    font-family: Inter;
    color: #FE6A0F;
}

.infor{
    width: 100%;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.rodape {
    width: 100%;
    padding: 5%;
    display: flex;
    background-color: #1F1F1F;  
    justify-content: space-around;
}

.rodape p{
    font-family: Inter;
    font-weight: 400;
    font-size: 1.25rem;
    color: #5F5F5F;
}