       /* Importações de fonte */
       @import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
       @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


        /* FORMATAÇÕES GERAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #141414;
    color: white;
 
}

        /* FORMATAÇÃO DO MENU */
#cabecalho{
    display: flex;
    height: 10vh;
    width: 100%;
    max-width: 1255px;
    margin: auto;
    align-items: center;
}

.container{
    display: flex;
    gap: 105px;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 1255px;
    padding: 0 6%;
}

.container img{
    cursor: pointer;
}
.links-ancora{
    text-decoration: none;
    color: white;
    line-height: 33.6px;
    font-size: 1rem;
    font-weight: 400;
    font-family: Inter;
}

    /* FORMATAÇÃO DA PRIMEIRA SECTION */

.section-one{
    display: flex;
    margin: auto;
    margin-top: 4%;
    max-width: 1255px;
    padding: 0 6%;  
    justify-content: space-around;
}


/* formatação dos textos chamativos */
.container-one{
    top: 1%;
    height: 40vh;
    width: 50%;
}

.titulo{
        font-family: calistoga;
        font-weight: 400;
        font-size: 3.75rem;
}

.emoji-hungry{
    width: 15%;
    rotate: -15deg;
    margin-left: -3%;
    position: relative;
}

.texto-ancora{
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 26px;
    width: 90%;
    margin-top: 5%;
    justify-content: center;
}

.btn-pedido{
    background-color: #FE6A0F;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 8vh;
    margin-top: 10%;
    cursor: pointer;
}

.btn-pedido:hover{
    background-color: #dd6114;
}

/* texto do botão */
.btn-texto{
    font-family: Inter;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    text-decoration: none;  
}

.burguer-img{
    width: 40%;
    margin-top: -2%;
}

/* FORMATAÇÃO DA SEGUNDA SECTION */

.section-two{
    max-width: 1255px;
    height: 35vh;
    padding: 0 6%;
    margin: auto;
    margin-top: -5%;
    background-color: #1f1f1f;
}

h2{
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 5%;
    width: 25%;
}

.section-two-inputs{
    display: flex;
    justify-content: space-between;
}

.inputs{
    background-color: #2b2b2b;
    border: none;
    border-radius: 5px;
    margin-top: 3%; 
    height: 9vh;
    width: 20vw;
    text-align: center;
    color: #979797;
    font-family: Inter;
    font-size: 1.10rem;
}

.lupa{
    background-image: url(../src/IMAGES-BURGER/lupa.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 5%;
}

.lupa::placeholder{
    color: #979797;
}

.categoria{
    cursor: pointer;
    border-right: 28px solid transparent;
}

/* FORMATAÇÃO DO MENU DE HAMBURGUERS - SECTION 3*/

#source-catalog{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    padding: 5%;
    
}


/* PRODUTOS - FORMATAÇÃO */

.principal__products{
    width: 100%;
    max-width: 1255px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 64px;
}

.products-item{
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    width: 30%;
    text-decoration: none;
    border-radius: 8px;
    flex-direction: column;
    padding-top: 45px;
    
}

.products_image{
    width: 50%;
    margin: auto;
    z-index: 1;
}

.promocao{
    background-color: #FE6A0F;
    padding: 13px;
    width: 119px;
    font-size: 1rem;
    color: white;
    font-family: Inter;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: -25px;
    margin-left: 40px;
    display: flex;
}

.products-category{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    font-family: Inter;
}

.products-name{
    font-size: 1.75rem;
    font-weight: 400;
    font-family: calistoga;
    color: white;
}

.products-price{
    font-size: 1.75rem;
    font-weight: 700;
    font-family: Inter;
    color: #FE6A0F;
}

.infor{
    width: 100%;
    height: 20vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    gap: 6px;
    padding-top: 20px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.infoTotal{
    display: flex;
    background-color: #1f1f1f;
}

.buyItem{
    background-color:#FE6A0F;
    background-image: url(../src/IMAGES-BURGER/shopping-cart.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 25%;
    height: 6vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    display: flex;
    margin: auto;
    transition: all 0.3s;
}

.buyItem:hover{
    background-color:#e26010;
    width: 30%;
    transition: all 0.3s;
}
#modal {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* Barra de Rolagem */
    overflow: auto;
}

/* Modal */
.modal__container {
    width: 100%;
    max-width: 653px;
    background-color:#1F1F1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 4%;
    border-radius: 4px;
}

.modal__container h2 {
    width: 100%;
    margin-top: 1%;
    text-align: center;
}

.modal__conteudo {
    width: 100%;
    max-width: 582px;
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    font-family: Inter;
 
}

.buttonModalRemove {
    font-size: 1.1rem;
    font-family: Inter;
    font-weight: bold;
    border: none;
    background-color: #FF3131;
    color: #f6f7f8;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.modal__conteudo__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;  
}

.endereco {
    font-family: Inter;
    margin-top: 14px;
    margin-bottom: 4px;
}

.endereco__campo {
    width: 100%;
    max-width: 582px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.endereco__campo::placeholder {
    color: #C1C1C1;
}

.totalPagar{
    font-family: Inter;
    font-size: 1.25rem;
    margin: 5% auto;

}
.finalizar {
    margin-top: 32px;
    width: 100%;
    max-width: 582px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-family: Inter;
    cursor: pointer;
}

.finalizar button {
    width: 100%;
    max-width: 191px;
    height: 6vh;
    padding: 8px;
    font-size: 1rem;
    font-family: Inter;
    font-weight: bold;
    color: #f6f7f8;
    background-color: #5ad40fb7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.finalizar button:hover{
    background-color: #43990db7;    
}
/*Fim Modal*/

.rodape {
    width: 100%;
    padding: 5%;
    display: flex;
    background-color: #1F1F1F;  
    justify-content: space-between;
}

.rodape p{
    font-family: Inter;
    font-weight: 400;
    font-size: 1.25rem;
    color: #5F5F5F;
}

    /* APLICANDO RESPONSIVIDADE */
@media (max-width:430px){

    /* FORMATAÇÃO RESPONSIVA DO MENU */

    .links-ancora{
        display: none;
    }

    .container{
        max-width: 390px;
        flex-direction: column;
        gap: 0px;
        font-size: 0.8rem;
        margin-top: 7%;
    }

    .titulo{
        font-size: 2.5rem;
    }

    .texto-ancora{
        width: 100%;
        line-height: 30px;
        justify-content: justify;
    }


    /* FORMATAÇÃO RESPONSIVA SECTION ONE */
    .btn-pedido{
        width: 100%;
    }

    .section-one{
        flex-direction: column;
        margin-top: 10%;
        gap: 50px;
    }

    .container-one{
        max-width: 320px;
        margin: auto;
        width: 100%;
        gap: 30px;
    }

    .burguer-img{
        width: 60%;
        margin: auto;
    }

    /* FORMATAÇÃO RESPONSIVA SECTION TWO */
    .section-two{
        max-width: 320px;
        margin: auto;
        margin-top: 0;
        gap: 30px;
        height: 45vh;
    }
    .section-two-inputs{
        flex-direction: column;
        justify-content: center;
    }

    h2{
        width: 100%;
        padding-top: 20%;
    }

    .inputs{
        width: 100%;
        margin-top: 12%;
    }

    .lupa::placeholder{
        font-size: 1rem;
        padding-left: 10%;
        
    }
    /* FORMATAÇÃO RESPONSIVA SECTION THREE */
    .principal__products{
        flex-direction: column; 
        max-width: 320px;
        margin: auto;
        padding: 0;
    }

    .source-catalog{
        margin-top: 10%;
    }

    .products-item{
        width: 100%;
        margin: auto;
    }
    .products_image{
        width: 60%;
    }

    #modal{
        max-width: 400px;
       
    }

    /* FORMATAÇÃO RODAPÉ */

.rodape{
    margin-top: 8%;
    padding-top: 10%;
    flex-direction: column;
    gap: 15px;
}

.rodape p{
    margin: auto;
}

.rodape img{
    width: 50%;
    margin: auto;
}

}

@media (max-width:375px){
    .section-one{
        gap: 90px;
    }
}