<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript</title>
</head>
<body>
    <h2>Lista de Tarefas</h2>

    <ol>
    </ol>
    <input type="text" placeholder="Digite algo" onkeyup="addList(event)">

    <button id="btn-one" onclick="inserir()">Inserir</button>
    <button class="btn-two">Remover</button>
    <button class="btn-three">Remover Todos</button>


    <script src="../js/script.js"></script>
</body>
</html>