
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: #f8f7f3;
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  gap: 50px;
}

.hidden{
  opacity: 0;
  filter: blur(10px);
  transition: all 1.7s;
  transform: translateX(-100%);
}

.show{
  opacity: 1;
  filter: blur(0);
  transition: all 1.7s;
  transform: translateX(0);
}

/* CABEÇALHO */
#cabecalho{
  width: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  backdrop-filter: blur(10px);
  background-color: transparent;
  height: 10vh;
  gap: 100px;
}

.container{
  max-width: 1270px;
  margin: auto;
  display: flex;
}

.img{
  margin: auto;
}

.lista{
  display: flex;
  gap: 140px;
}

.menu-ancora{
  list-style: none;
}

.menu-ancora a{
  text-decoration: none;
  color: #f1632d;
  font-size: 1.25rem;
  position: relative;
}

.menu-ancora a::after{
  content: " ";
  width: 0%;
  height: 4px;
  background-color: #f1632d;
  border-radius: 2px;
  position: absolute;
  margin: 0px auto -5px 0px;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.menu-ancora:hover ::after{
  width: 100%;
}

.contato{
  margin: auto;
  width: 8%;
  padding: 15px 10px;
  border: none;
  cursor: pointer;
  background-color: #f1632d;
  border-radius: 30px;
}

.contato a{
  text-decoration: none;
  border-radius: 30px;
  color: #f8f7f3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.contato:hover{
  background-color: #c74714;
}
/* FIM CABEÇALHO */

/* PRIMEIRA SECTION */

.section-one{
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  margin: auto;
  padding-top: 10%;
}

.left-side{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
}

.titulo_one{
  font-size: 4rem;

}

.left-side h2{
  font-size: 2rem;
}

.texto-one{
  font-size: 1.25rem;
  word-spacing: 5px;
  width: 80%;
  font-weight: 400;
  text-align: justify;
}

.redirect{
  background-color: #f1632d;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #f8f7f3;
  width: 40%;
  height: 6vh;
  margin: 0 5%;
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px auto;
  cursor: pointer;
  text-decoration: none;
}

.right-side{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  place-items: center;
}

.divImg img{
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(236, 113, 13, 0.692) 5px 5px, rgba(233, 109, 8, 0.692) 10px 10px, rgba(224, 86, 6, 0.692) 15px 15px, rgba(223, 96, 11, 0.1)20px 20px, rgba(231, 121, 18, 0.692) 25px 25px;
} 

/* FIM DA PRIMEIRA SECTION */

/* PRIMEIRA MAIN */

.titulo_two{
  font-size: 2rem;
  color: #f1632d;
}
#section-two{
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
  padding-top: 6%;
}

.skills-item:nth-child(2){
  transition-delay: 300ms;
}

.skills-item:nth-child(3){
  transition-delay: 500ms;
}

.skills-item:nth-child(4){
  transition-delay: 800ms;
}

.skills-item{
  display: flex;
  gap: 30px;
  margin: 5% auto;
  position: relative;
}

.skills-item img{
  width: 8%;
}

.js{
  border-radius: 8px;
}

.division{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  cursor: default;
}

.percent{
  width: 80%;
  margin: 1% auto;
  position: relative;
}

.forma{
  width: 100%;
  height: 3vh;
  background-color: #f1632d;
  border-radius: 30px;
  position: absolute;
  margin: 0px auto -5px 0px;
  transition: 1s ease-in-out;
}

.forma:hover ::after{
  width: 100%;
}

.skills-item em{
  font-weight: bolder;
}


/* FIM DA PRIMEIRA MAIN */
#section-three{
  min-height: 100vh;
  max-width: 1280px;
  margin: auto;
  padding-top: 6%;
}