*{
    margin: 0;
    padding: 0;
}
.about-me{
    margin: 6%;
    width: 50%;
  
}

.about-me h1{
    font-size: 34px;
    font-family: 'Montserrat', 'sans-seriff';
    color: rgb(0, 255, 255);
    background: rgb(19,17,41);
    background: linear-gradient(90deg, rgba(19,17,41,1) 0%, rgba(0,255,244,1) 0%, rgba(78,154,171,1) 49%);
    background-clip: text;
    margin-top: -20%;
}   

.secundaria{
    margin: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.secundaria p{
    margin-top: 2%;
    font-weight: 300;
    text-align: justify;
}

.img-second{
    width: 30%;
    flex-direction: column; 
}