<!DOCTYPE html>

 <html lang="pt-br">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>LANDING PAGE</title>
   </head>


   <body>

        <!-- ABERTURA DO MENU -->
        <header id="cabecalho">
            
            <nav class="container-cabecalho">
                    <img src="../images/logoname.png" alt="Logoname do Site">

                    <div class="subnav">
                        <a href="" class="links-ancora">
                            Início
                        </a>
                        <a href="" class="links-ancora">
                            Especialidades
                        </a>
                        <a href="" class="links-ancora">
                            Projetos 
                        </a>
                    </div>
                    
            </nav>    
        </header>
        <hr class="line-1"/>

        <!-- ABERTURA DA SECTION DE APRESENTAÇÃO -->
        <section class="section-one">
            <div class="container-principal">
                    <span class="titulo-principal">Tranforme suas ideias em realidade com um <strong style="color: #D4F11E;">front-end de excelência.</strong></span>

                    <p class="texto-ancora">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum faucibus vitae aliquet nec ullamcorper. 
                    Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Id diam maecenas ultricies mi eget mauris. Neque convallis a cras semper auctor neque vitae.
                    </p>

                    <button class="btn-contato"><p>Contato</p></button>
            </div>
            
            <img src="../images/OIP (13).jpg" alt="" class="principal-img">
        </section>

        <!-- ABERTURA DAS ÁREAS DE EXPOSIÇÃO -->
        <main id="container-apresentacao">

                    <h1 class="titulo-exposicao">Minhas Especialidades</h1>


                    <section class="section-especialidades">

                        <a href="" class="box-especialidades">
                            <img src="../images/java-script.png" class="espec-img" alt="">
                           <h1 class="box-titulo">React Js</h1> 
                           <p class="texto-espec">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum faucibus vitae aliquet nec ullamcorper. 
                            Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Id diam maecenas ultricies mi</p>
                        </a>

                        <a href="" class="box-especialidades">
                            <img src="../images/java-script.png" class="espec-img" alt="">
                            <h1 class="box-titulo">React Js</h1> 
                            <p class="texto-espec">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum faucibus vitae aliquet nec ullamcorper. 
                                Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Id diam maecenas ultricies mi
                            </p>
                        </a>

                        <a href="" class="box-especialidades">
                            <img src="../images/java-script.png" class="espec-img" alt="">
                            <h1 class="box-titulo">React Js</h1> 
                           <p class="texto-espec">
                    Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Id diam maecenas ultricies mi

                           </p>
                        </a>
                    </section>


                    <main class="card">
                        <div class="card-content">
                            <section class="card-front">

                                <img src="../images/my-photo-72.jpg" alt="" class="img-dev">      
          
                                <div class="info-biografia">
                                  <h1 class="titulo-biografia">  muito prazer, sou o <strong style="color: #D4F11E;">Pablo Ricardo</strong> </h1>
          
                                  <p class="texto-biografia">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum faucibus vitae aliquet nec ullamcorper. 
                                      Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Id diam maecenas ultricies mi eget mauris. Neque convallis a cras semper auctor neque vitae.</p>
                                  
                                       <div class="redes-ancora">
                                          <a href="" class="redes-ancora-link">
                                              <img src="../images/github-logo.png" alt="">
                                              Instagram
                                          </a>
                                          <a href="" class="redes-ancora-link">
                                              <img src="../images/github-logo.png" alt="">
                                              Youtube
                                          </a>
                                          <a href="" class="redes-ancora-link">
                                              <img src="../images/github-logo.png" alt="">
                                              LinkedIn
                                          </a>
                                       </div>
                                </div>
          
                              </section> 
                              <section class="card-back">
          
                                  <img src="../images/my-photo-72.jpg" alt="" class="img-dev">      
            
                                  <div class="info-biografia">
                                    <h1 class="titulo-biografia">  muito prazer, sou o <strong style="color: #D4F11E;">developer</strong> </h1>
            
                                    <p class="texto-biografia">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum faucibus vitae aliquet nec ullamcorper. 
                                        Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Id diam maecenas ultricies mi eget mauris. Neque convallis a cras semper auctor neque vitae.</p>
                                    
                                         <div class="redes-ancora">
                                            <a href="" class="redes-ancora-link">
                                                <img src="../images/github-logo.png" alt="">
                                                Instagram
                                            </a>
                                            <a href="" class="redes-ancora-link">
                                                <img src="../images/github-logo.png" alt="">
                                                Youtube
                                            </a>
                                            <a href="" class="redes-ancora-link">
                                                <img src="../images/github-logo.png" alt="">
                                                LinkedIn
                                            </a>
                                         </div>
                                  </div>
            
                                </section> 
                        </div>
                  
                    </main>

                    <hr class="line-1"/>

                    <h1 class="titulo-exposicao"> Meus Projetos </h1>

                    <!-- Abertura da Section de Projetos -->
                    <section class="section-projetos">
                        
                        <a href="" class="box-projects">
                            <img src="../images/WhatsApp Image 2024-01-16 at 16.57.36.jpeg" class="projects-image" alt="">
                            <h1 class="box-titulo">React JS
                            </h1>
                            <p class="texto-espec">lorem ipsum</p>
                        </a>

                        <a href="" class="box-projects">
                            <img src="../images/WhatsApp Image 2024-01-16 at 16.57.36.jpeg" class="projects-image" alt="">
                            <h1 class="box-titulo">React JS
                            </h1>
                            <p class="texto-espec">lorem ipsum</p>
                        </a>

                        <a href="" class="box-projects">
                            <img src="../images/WhatsApp Image 2024-01-16 at 16.57.36.jpeg" class="projects-image" alt="">
                            <h1 class="box-titulo">React JS
                            </h1>
                            <p class="texto-espec">lorem ipsum</p>
                        </a>

                        <a href="" class="box-projects">
                            <img src="../images/WhatsApp Image 2024-01-16 at 16.57.36.jpeg" class="projects-image" alt="">
                            <h1 class="box-titulo">React JS
                            </h1>
                        </a>

                        <a href="" class="box-projects">
                            <img src="../images/WhatsApp Image 2024-01-16 at 16.57.36.jpeg" class="projects-image" alt="">
                            <h1 class="box-titulo">React JS
                            </h1>
                            <p class="texto-espec">lorem ipsum</p>
                        </a>

                        <a href="" class="box-projects">
                            <img src="../images/WhatsApp Image 2024-01-16 at 16.57.36.jpeg" class="projects-image" alt="">
                            <h1 class="box-titulo">React JS
                            </h1>
                            <p class="texto-espec">lorem ipsum</p>
                        </a>
                    </section>
        </main>
        
        <footer class="rodape">
            <img src="../images/logoname.png" alt="logoname do rodapé">
            <p>powered by Pablo Ricardo</p>
            
        </footer>
   </body>
 </html>