<!DOCTYPE html>
        <html lang="pt-br">
                <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="../css/style.css">
                <link rel="shortcut icon" href="../images/location.ico" type="image/x-icon">
                <title>PORTFÓLIO DEV</title>

                </head>

                <body>

                        <header id="cabecalho">

                        <nav class="container">
                                <img src="../images/logotype-menu.png" alt="Logotipo do site" class="menu-image">

                                <div class="lista">
                                        <a href="" class="menu-ancora">
                                                Início
                                        </a>
                                        <a href=""  id="btn-especialidades" class="menu-ancora">
                                                Especialidades
                                        </a>
                                        <a href="" id="btn-projetos" class="menu-ancora">
                                                Projetos
                                        </a>
                                        <a href="" id="btn-contato" class="menu-ancora contato">
                                                Contato
                                        </a>
                                </div>
                        </nav>
                        
                        </header>

                        <main id="section-one">
                                <div class="left-side">
                                        <h1 class="titulo_one">
                                                Web Designer & Developer
                                        </h1>
                                        <span class="subtitulo">
                                                Transforme seu negócio com um investimento de <strong style="color: #F69100;">excelência.</strong>
                                        </span>
                                        <p class="texto-one">
                                                Revolucionando a estrutura do seu site e proporcionando identidade visual compacta para sua empresa
                                        </p>

                                        <a href="#" class="rel-inicial"><img src="../images/conexão.png" alt="Icon de conexão" class="conexao-image"><p>Conheça mais</p></a>
                                        
                                </div>
                                <section class="right-side">
                                        <div class="ball-orange"></div>
                                        <!-- <img src="../images/foto-pablo.png" alt="minha foto inicial" class="pablo-image"> -->
                                </section>
                                       

                        </main>


                <script src="../js/script.js"></script>
                </body>
</html>