.card{
    width: 400px;
    background-color: black;
    color: antiquewhite;
}

.card-content{
    position: relative;
    padding: 15rem 15rem;
    transform-style: preserve-3d;
    transition: transform 3s;
}

.card:hover .card-content{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    inset: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card-front::before{
    content: "";
    position: absolute;
    inset: 1rem;
    border: 3px solid yellow;
    transform: translateZ(2rem);
}

.card-back{
    background-color: aquamarine;
    transform: rotateY(180deg);
    gap: 0.5rem;
    border-radius: 8px;
}

.card-front{
    background-color: brown;
    align-items: center;
    border-radius: 8px ;
}