<!DOCTYPE html>
        <html lang="pt-br">
                <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="../css/style.css">
                <link rel="shortcut icon" href="../images/location.ico" type="image/x-icon">
                <title>PORTFÓLIO DEV</title>

                </head>
                <header id="cabecalho">

                        <nav class="container">
                                <div>
                                        <img src="../images/logotype-menu.png" alt="Logotipo do site" class="menu-image">
                                </div>
                                

                                <div class="lista">
                                        <li class="menu-ancora">
                                                <a href="" class="menu-ancora">
                                                        Início
                                                </a>
                                        </li>
                                        <li class="menu-ancora">
                                                <a href="#section-two"  id="btn-especialidades" class="menu-ancora">
                                                        Especialidades
                                                </a>
                                        </li>
                                        <li class="menu-ancora">
                                                <a href="#section-three" id="btn-projetos" class="menu-ancora">
                                                        Projetos
                                                </a>
                                        </li>
                                </div>
                        </nav>
                        
                        <div> 
                                <a href="#">Contato</a>
                        </div>
                        </header>

                <body>


                        <section id="section-one">
                                <div class="left-side">
                                        <h1 class="titulo_one">
                                                Web Designer & Developer
                                        </h1>
                                        <span class="subtitulo">
                                                Transforme seu negócio com um investimento de <strong style="color: #F69100;">excelência.</strong>
                                        </span>
                                        <p class="texto-one">
                                                Revolucionando a estrutura do seu site e proporcionando identidade visual compacta para sua empresa
                                        </p>

                                        <a href="#" class="rel-inicial"><img src="../images/conexão.png" alt="Icon de conexão" class="conexao-image"><p>Conheça mais</p></a>
                                        
                                </div>
                                <section class="right-side">
                                     <img src="../images/foto-pablo.png" alt="">
                                </section>
                                       

                        </section>

                        <main id="section-two">
                                <h1 class="titulo_two">Minhas Especialidades</h1>

                                <section class="my-skills">
                                        <!-- SKILLS -->
                                        <section class="skills-item">
                                                <img src="../images/conexão.png" alt="">
                                                <div class="percent"> 
                                                        <div class="division">
                                                                <p class="percent-tittle">
                                                                        <em>HTML</em>
                                                                </p>
                                                                <p class="percent-number">80%</P>
                                                        </div>
        
                                                        <div class="forma"></div>
                                                </div>
                                        </section>

                                        <!-- SKILLS -->
                                        <section class="skills-item">
                                                <img src="../images/conexão.png" alt="">
                                                <div class="percent"> 
                                                        <div class="division">
                                                                <p class="percent-tittle">
                                                                        <em>JavaScript</em>
                                                                </p>
                                                                <p class="percent-number">80%</P>
                                                        </div>
        
                                                        <div class="forma"></div>
                                                </div>
                                        </section>

                                        <!-- SKILLS -->
                                        <section class="skills-item">
                                                <img src="../images/conexão.png" alt="">
                                                <div class="percent"> 
                                                        <div class="division">
                                                                <p class="percent-tittle">
                                                                        <em>CSS</em>
                                                                </p>
                                                                <p class="percent-number">80%</P>
                                                        </div>
        
                                                        <div class="forma"></div>
                                                </div>
                                        </section>

                                        <!-- SKILLS -->
                                        <section class="skills-item">
                                                <img src="../images/conexão.png" alt="">
                                                <div class="percent"> 
                                                        <div class="division">
                                                                <p class="percent-tittle">
                                                                        <em>ReactJS</em>
                                                                </p>
                                                                <p class="percent-number">80%</P>
                                                        </div>
        
                                                        <div class="forma"></div>
                                                </div>
                                        </section>

                                </section>
                        </main>


                        <main id="section-three">
                                <h1 class="titulo_two">Meus projetos</h1>

                                <section class="projetos">
                                        <a href="" class="box-projects">
                                                <img src="../images/WhatsApp Image 2024-01-16 at 16.57.36.jpeg" class="projects-image" alt="">
                                                <h1 class="box-titulo">React JS
                                                </h1>
                                                <p class="texto-espec">lorem ipsum</p>
                                            </a>

                                            <a href="" class="box-projects">
                                                <img src="../images/WhatsApp Image 2024-01-16 at 16.57.36.jpeg" class="projects-image" alt="">
                                                <h1 class="box-titulo">React JS
                                                </h1>
                                                <p class="texto-espec">lorem ipsum</p>
                                            </a>

                                            <a href="" class="box-projects">
                                                <img src="../images/WhatsApp Image 2024-01-16 at 16.57.36.jpeg" class="projects-image" alt="">
                                                <h1 class="box-titulo">React JS
                                                </h1>
                                                <p class="texto-espec">lorem ipsum</p>
                                            </a>

                                            <a href="" class="box-projects">
                                                <img src="../images/WhatsApp Image 2024-01-16 at 16.57.36.jpeg" class="projects-image" alt="">
                                                <h1 class="box-titulo">React JS
                                                </h1>
                                                <p class="texto-espec">lorem ipsum</p>
                                            </a>

                                            <a href="" class="box-projects">
                                                <img src="../images/WhatsApp Image 2024-01-16 at 16.57.36.jpeg" class="projects-image" alt="">
                                                <h1 class="box-titulo">React JS
                                                </h1>
                                                <p class="texto-espec">lorem ipsum</p>
                                            </a>

                                            <a href="" class="box-projects">
                                                <img src="../images/WhatsApp Image 2024-01-16 at 16.57.36.jpeg" class="projects-image" alt="">
                                                <h1 class="box-titulo">React JS
                                                </h1>
                                                <p class="texto-espec">lorem ipsum</p>
                                            </a>
                    
                    
                                </section>

                        </main>

                        <section class="section-four">
                                <img src="../images/conexão.png" alt="Imagem da Biografia" class="secundary-image">
                                <div class="texto-biografia">
                                        <h1>Muito prazer, sou o <strong style="color: #F69100;">Pablo Ricardo</strong></h1>
                                        <address>São Luís, Maranhão, Brazil</address>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum faucibus vitae aliquet nec ullamcorper. Potenti nullam ac tortor vitae purus faucibus. Potenti nullam ac tortor vitae purus faucibus
                                        </p>
                                </div>
                        </section>
                        <script src="../js/script.js"></script>
                </body>
</html>